<div class="text-center">
    <h1>Jūsų banko sąskaita</h1>
    <p>Sveiki, {{user}}</p>
</div>

{{#if message}}
    <div class="alert alert-{{status}}" role="alert">
        {{message}}
    </div>
{{/if}}

