<h1>Ar pavedimo duomenys yra teisingi?</h1>
<ul>
    <li>Sąskaitos numeris: {{account_number}}</li>
    <li>Gavėjo vardas ir pavardė: {{recipient}}</li>
    <li>Mokėjimo paskirtis: {{reference}}</li>
    <li>Suma: {{amount}}</li>
</ul>

<a href="/account?message=Pavedimas sėkmingai įvykdymas&status=success" class="btn btn-primary">Patvirtinti</a>
<a href="/account?message=Pavedimas atmestas&status=danger" class="btn btn-danger">Atmesti</a>