<form action="/submit-image" method="POST" enctype="multipart/form-data">
        <input class="form-control form-control mb-2" type="file" name="photo">

        <button type="submit" class="btn btn-primary">Siųsti</button>
</form>

<h1>Nuotraukų galerija</h1>

<div class="photoGallery">
    {{#each images}}
        <img src="/photos/{{this}}" alt="">
    {{/each}}
</div>