<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vizitine kortele</title>
</head>
<body>
    <h1>Puslapis</h1>
    <script>
        fetch('https://randomuser.me/api/')
        .then(resp => resp.json())
        .then(resp => {
            console.log(resp)
            console.log(resp.results[0].picture.large)
            document.body.innerHTML += `<img src="${resp.results[0].picture.large}">`
            
            document.querySelector('h1').addEventListener('mouseenter', () => {
                console.log('Pele uzvesta')
            })
        })
    </script>
</body>
</html>